
<div id="show-title">
 <%= flash[:notice] %>
  <h2>Title</h2>
  <p><%= @book.title %></p>

  <h2>Body</h2>
  <P><%= @book.body %></P>
</div>
<div class="show-list">
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Back",'/books' %>
</div>
